---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
import Hero from '../components/Hero';
import InteractiveFeatures from '../components/InteractiveFeatures';
import AttritionRiskAnalysis from '../components/AttritionRiskAnalysis';
import SuccessionPlanning from '../components/SuccessionPlanning';
import ProjectManagement from '../components/ProjectManagement';
import OrgAI from '../components/OrgAI';
import OrganizationChart from '../components/OrganizationChart';
import SimulationCanvas from '../components/SimulationCanvas';
import Galaxy3D from '../components/Galaxy3D';
import PerformanceEvaluation from '../components/PerformanceEvaluation';
import SecuritySection from '../components/SecuritySection';
import Testimonials from '../components/Testimonials';
import Pricing from '../components/Pricing';
import Contact from '../components/Contact';
import Footer from '../components/Footer';
---

<Layout title="Selora - You Can't Scale What You Can't See">
  <Header client:load />
  <Hero client:load />
  <InteractiveFeatures client:load />
  <AttritionRiskAnalysis client:load />
  <SuccessionPlanning client:load />
  <ProjectManagement client:load />
  <OrgAI client:load />
  <div class="hidden md:block">
    <OrganizationChart client:load />
  </div>
  <SimulationCanvas client:load />
  <Galaxy3D client:load />
  <PerformanceEvaluation client:load />
  <SecuritySection client:load />
  <Testimonials client:load />
  <Pricing client:load />
  <Contact client:load />
  <Footer client:load />
</Layout>